<div class="container">
    <h2 oda-label="home.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="home.hello"></span>
            <br>
            <br>
        </div>
        <div class="col-md-12" id="divMain">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.Home.start();
</script>

<script id="tlpDivLogBonita" type="text/template">
    <span oda-label="home.helloLogBonita"></span>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="logBonita" oda-label="home.logBonita">home.logBonita</label>
                <input required type="text" class="form-control" oda-input-text="logBonita" oda-input-text-tips="home.logBonita-tips" oda-input-text-placeholder="home.logBonita-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="passBonita" oda-label="home.passBonita">home.passBonita</label>
                <input required type="text" class="form-control" oda-input-text="passBonita" oda-input-text-tips="home.passBonita-tips" oda-input-text-placeholder="home.passBonita-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <button type="button" oda-submit="submit" onclick="$.Oda.App.Controller.Home.logBonita();" class="btn btn-primary disabled" disabled><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <label oda-label="oda-main.bt-submit"></label></button>
</script>

<script id="tlpDivActivities" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <p><span oda-label="home.logBonita"></span>: <span style="font-weight: bold;">{{log}}</span><button type="button" onclick="$.Oda.App.Controller.Home.removeLogBonita();" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="startDate" oda-label="home.startDate">home.startDate</label>
                <input required type="date" class="form-control" oda-input-text="startDate" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="endDate" oda-label="home.endDate">home.endDate</label>
                <input required value="{{endDate}}" type="date" class="form-control" oda-input-text="endDate" oda-input-text-check="Oda.Regexs:noInjection">
            </div>
        </div>
    </div>
    <button type="button" oda-submit="submit" onclick="$.Oda.App.Controller.Home.displayActivities();" class="btn btn-primary disabled center-block" disabled><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <label oda-label="home.getData"></label></button><br><br>
    <div class="row">
        <div class="col-md-12" id="divTabActivities">
        </div>
    </div>
    <div id="divMenuReports"></div>
    <div id="divReport"></div>
</script>

<script id="tlpDivMenuReports" type="text/template">
<div class="row">
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportCamCategory();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.camCategory"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportBillable();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.billable"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportAllExp();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.allXp"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportTrip();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportTrip"></label></button><br><br>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportCustomers();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportCustomers"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportExpTimeSlice();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportExpTimeSlice"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportCompletion();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportCompletion"></label></button><br><br>
    </div>
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportNewClient();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportNewClient"></label></button><br><br>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" onclick="$.Oda.App.Controller.Home.displayReportSandBox();" class="btn btn-primary center-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <label oda-label="home.btReportSandBox"></label></button><br><br>
    </div>
</div>
</script>

<script id="tlpDivReportCamCategory" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloCamCategory"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportBillable" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloBillable"></span><br>
        <span oda-label="home.averageBillable"></span>{{averageBillable}}%<br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportAllExp" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloAllExp"></span><br>
        <span oda-label="home.averageAllExp"></span>{{averageAllExp}}%<br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportTrip" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloTrip"></span><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportCustomers" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloCustomers"></span><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportExpTimeSlice" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloExpTimeSlice"></span><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportCompletion" type="text/template">
<div class="row">
    <div class="col-md-12">
        <p><span oda-label="home.helloCompletion"></span></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpMailCompletion" type="text/template">
<p><span oda-label="home.completionMailHello"></span> <b>{{start}} - {{end}}</b></p>
<p><span oda-label="home.completionMailDesc"></span></p>
{{recs}}
<p><span oda-label="home.completionMailThx"></span></p>
</script>

<script id="tlpDivReportSandBox" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloSandBox"></span><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>

<script id="tlpDivReportNewClient" type="text/template">
<div class="row">
    <div class="col-md-12">
        <span oda-label="home.helloNewClient"></span><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divGraph"></div>
    </div>
</div>
</script>